#  <center>  Web-Scrapping des infos des freelancers sans agences  <center>
 
Nous avons obtenue 1050 de idtentification mais nous avons réussi collecter 371 oberservations parmi eux.

In [1]:
import time
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import copy

## Récupérer les identifications

COMMENCE A 10:46 FINIR A 11:09

### <center>23 min pour avoir les identifications<center>

In [2]:
headers = {
  'host': 'www.upwork.com',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36',
  'cookie': 'visitor_id=195.83.48.81.1637071873989000; lang=en; spt=5687a8e3-0b6f-458b-9ec7-5ea26a788067; _pxvid=0eabb6f8-46e7-11ec-9a3b-4e746f635050; _gcl_au=1.1.539077891.1637071917; cb_user_id=null; cb_group_id=null; cb_anonymous_id=%222c08c7ea-8a96-4a5b-90e3-05e994cd6e60%22; _fbp=fb.1.1637071934840.192595906; _rdt_uuid=1637071936866.f02b2ed8-5e72-451b-b8b2-9282d47d2fab; slirequested=true; sliguid=781a4f49-c9ef-453c-b3f0-758d97457ce6; __pdst=d3e5e20e63a9440bba61ce105ae50331; UserPrivacySettings=%7B%22AlertBoxClosed%22%3A%222021-11-16T14%3A12%3A57.412Z%22%2C%22Groups%22%3A%7B%22Targeting%22%3Atrue%7D%7D; keen={%22uuid%22:%22531c35b7-8163-4de0-a495-f79529a5885e%22%2C%22initialReferrer%22:%22https://www.upwork.com/%22}; _mkto_trk=id:518-RKL-392&token:_mch-upwork.com-1637072137411-46474; G_ENABLED_IDPS=google; recognized=b961bcc2; bmuid=1638741364576-E9A1FD6D-014C-4A63-A4C5-EBE68B785C8D; cdSNum=1638741355272-sjn0000365-d340b50f-30d9-4f54-a67b-1831c20163d8; odesk_signup.referer.raw=https%3A%2F%2Fwww.upwork.com%2F; _clck=1pox0lh|1|eya|0; _pxhd=zpYIYg39O8WWTqRJ6Ar9Fi7DekiI-rgfRL5z0boazFfKO6k6Olcgksvkr6ZRi5WOL/VHQ0NXwwI7FZKROrJfng==:02j8HCOVBHZN9CpLMgjvrx/oEHNijRmC7HcPXPkrBMyd5KOtXnb5ukyTwPjQd9qt-P8-hYWs7mT2aELh2QZl5tLpXo5M1suA6wbwPdf-oWE=; enabled_ff=CI11132Air2Dot75,CI9570Air2Dot5,!CI10270Air2Dot5QTAllocations,!CI10857Air3Dot0,!SSINav,!OTBnrOn,!OTBnr; survey_allowed=true; cookie_prefix=; cookie_domain=.upwork.com; __cf_bm=lC6WV4DOmtT5ryTaVaPaa9EKRFs6J.uEkfD2IUNhD2Y-1642794586-0-AeO1q0ndrGu/ZRNtIy3oFHXEhPzMGPa96Z12Onn1OHj07lNLPmKy9dRzq0i6VK2piOAtcPJAa74eedKI+BExetU=; __cfruid=942d0f441dd79bb0319d874cbf1f32ae4de92ec4-1642794586; device_view=full; pxcts=55df9e5a-7af3-11ec-8bd3-6c6f7354446d; _sp_ses.2a16=*; _gid=GA1.2.373061672.1642794668; _hp2_ses_props.2858077939=%7B%22r%22%3A%22https%3A%2F%2Fwww.google.com%2F%22%2C%22ts%22%3A1642794668045%2C%22d%22%3A%22www.upwork.com%22%2C%22h%22%3A%22%2F%22%7D; g_state={"i_p":1643399475556,"i_l":3}; channel=other; _dpm_ses.5831=*; IR_gbd=upwork.com; prodperfect_session={%22session_uuid%22:%2250db1762-3fcf-4f58-93c0-f8c2fa799e48%22}; visitor_gql_token=oauth2v2_eac7e7b7b647265c2a625e5d6bc78d34; IR_13634=1642794733054%7C0%7C1642794733054%7C%7C; _uetsid=8a6c14307af311ec9cb721ab5331e7d7; _uetvid=34e379d046e711ecb049a57a717ec471; _ga=GA1.2.1476560320.1637071917; _ga_KSM221PNDX=GS1.1.1642794667.7.1.1642794755.0; _px3=df7947991ec91fa57d098028da962706c8d3c56a054782a125abaeeb0df8f3e0:uvc067wWrKtvT30QU3vD5gP0xW45rA5tuiBYqK9uCvHQkSqFCV0KpypFkMOmE/7WTJ8191+vJO2Ikaqv1OfgdA==:1000:VB1PBxZ967+NlGVaatV2IZs/jDSH50MjGvJupxyudJNumjd8g2yJIp3sanM3O0gxCjtaOzl//mc+mlBUxtZ8bNuWKMyX/F1x1zB2DIA3vTxkOAAdDnmluaMAMpnMMPHJGfsgJN/G7Bi7PBY0svRkhiy95kZ1GjU2SU2+BvOKlVSRjs5edJImp18xzyxs1X/h1H1oUcb7b8iaXFqZ09tgnw==; _hp2_props.2858077939=%7B%22container_id%22%3A%22GTM-P8M8MVZ%22%2C%22user_context%22%3A%22unknown%22%2C%22user_logged_in%22%3A%22unknown%22%7D; _dpm_id.5831=6bc2dd87-95fa-4cf3-ab0c-f84a6b5372d5.1637071939.26.1642795020.1642681810.72e45abf-c793-4476-9d98-54ab2a0536c0; XSRF-TOKEN=a28f7c5fdbd52b04985332439c9971ab; _sp_id.2a16=aab5df73-0280-4c06-a7d9-fc794ffc6938.1637071917.26.1642795250.1642681807.9a37d1b3-3f8c-4445-aeb5-b4f5a13fa1fe; _hp2_id.2858077939=%7B%22userId%22%3A%222252629139422892%22%2C%22pageviewId%22%3A%222877579548423052%22%2C%22sessionId%22%3A%22280019533429718%22%2C%22identity%22%3A%221467602249194414080%22%2C%22trackerVersion%22%3A%224.0%22%2C%22identityField%22%3Anull%2C%22isIdentified%22%3A1%7D; vps_gql_token=oauth2v2_123f24018fb74d3a46465a921016bc61'
}
url = 'https://www.upwork.com/search/profiles/?page={}&pt=independent'
urls =[url.format(num+1) for num in range(200)]
list_of_id =[]
for u in urls:
  res = requests.get(u ,headers = headers)
  soup = BeautifulSoup(res.text,'html.parser')
  items = soup.find_all('div',class_='d-flex freelancer-tile')
  for i in items:
     id_freelancer = i.find('div',class_ = 'cfe-ui-freelancer-tile-identity flex-1 m-0 overflow-auto').get('data-qa-freelancer-ciphertext')
     list_of_id.append(copy.deepcopy(id_freelancer))
     time.sleep(1)
#     Earned = i.find('div',class_='up-popper-trigger').text
#     Indice = i.find('span',class_='status-text d-flex top-rated-badge-status').text
#     first_skill = i.find('div',class_='up-skill-badge').text

In [3]:
print(len(list_of_id))

1050

In [4]:
len(list_of_id)

1050

In [5]:
url = 'https://www.upwork.com/freelancers/{}'
for i in id_freelancer:
    urls =[url.format(id)for id in list_of_id]

In [11]:
columns_names = ['Nom','nationalité','Horaire_Total','total_jobs_hours','salary','hours_per_week']
df = pd.DataFrame(columns = columns_names)

## Récpérer les infos des freelancers

<CENTER>COMMENCE 11:10 FINIR A  <CENTER>
<CENTER> MIN   <CENTER>

In [23]:
headers = {
  'host': 'www.upwork.com',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36',
  'cookie': 'visitor_id=195.83.48.81.1637071873989000; lang=en; spt=5687a8e3-0b6f-458b-9ec7-5ea26a788067; _pxvid=0eabb6f8-46e7-11ec-9a3b-4e746f635050; _gcl_au=1.1.539077891.1637071917; cb_user_id=null; cb_group_id=null; cb_anonymous_id=%222c08c7ea-8a96-4a5b-90e3-05e994cd6e60%22; _fbp=fb.1.1637071934840.192595906; _rdt_uuid=1637071936866.f02b2ed8-5e72-451b-b8b2-9282d47d2fab; slirequested=true; sliguid=781a4f49-c9ef-453c-b3f0-758d97457ce6; __pdst=d3e5e20e63a9440bba61ce105ae50331; UserPrivacySettings=%7B%22AlertBoxClosed%22%3A%222021-11-16T14%3A12%3A57.412Z%22%2C%22Groups%22%3A%7B%22Targeting%22%3Atrue%7D%7D; keen={%22uuid%22:%22531c35b7-8163-4de0-a495-f79529a5885e%22%2C%22initialReferrer%22:%22https://www.upwork.com/%22}; _mkto_trk=id:518-RKL-392&token:_mch-upwork.com-1637072137411-46474; G_ENABLED_IDPS=google; recognized=b961bcc2; bmuid=1638741364576-E9A1FD6D-014C-4A63-A4C5-EBE68B785C8D; cdSNum=1638741355272-sjn0000365-d340b50f-30d9-4f54-a67b-1831c20163d8; odesk_signup.referer.raw=https%3A%2F%2Fwww.upwork.com%2F; _clck=1pox0lh|1|eya|0; _pxhd=zpYIYg39O8WWTqRJ6Ar9Fi7DekiI-rgfRL5z0boazFfKO6k6Olcgksvkr6ZRi5WOL/VHQ0NXwwI7FZKROrJfng==:02j8HCOVBHZN9CpLMgjvrx/oEHNijRmC7HcPXPkrBMyd5KOtXnb5ukyTwPjQd9qt-P8-hYWs7mT2aELh2QZl5tLpXo5M1suA6wbwPdf-oWE=; enabled_ff=CI11132Air2Dot75,CI9570Air2Dot5,!CI10270Air2Dot5QTAllocations,!CI10857Air3Dot0,!SSINav,!OTBnrOn,!OTBnr; survey_allowed=true; cookie_prefix=; cookie_domain=.upwork.com; __cf_bm=lC6WV4DOmtT5ryTaVaPaa9EKRFs6J.uEkfD2IUNhD2Y-1642794586-0-AeO1q0ndrGu/ZRNtIy3oFHXEhPzMGPa96Z12Onn1OHj07lNLPmKy9dRzq0i6VK2piOAtcPJAa74eedKI+BExetU=; __cfruid=942d0f441dd79bb0319d874cbf1f32ae4de92ec4-1642794586; device_view=full; pxcts=55df9e5a-7af3-11ec-8bd3-6c6f7354446d; _sp_ses.2a16=*; _gid=GA1.2.373061672.1642794668; _hp2_ses_props.2858077939=%7B%22r%22%3A%22https%3A%2F%2Fwww.google.com%2F%22%2C%22ts%22%3A1642794668045%2C%22d%22%3A%22www.upwork.com%22%2C%22h%22%3A%22%2F%22%7D; g_state={"i_p":1643399475556,"i_l":3}; channel=other; _dpm_ses.5831=*; IR_gbd=upwork.com; prodperfect_session={%22session_uuid%22:%2250db1762-3fcf-4f58-93c0-f8c2fa799e48%22}; visitor_gql_token=oauth2v2_eac7e7b7b647265c2a625e5d6bc78d34; IR_13634=1642794733054%7C0%7C1642794733054%7C%7C; _uetsid=8a6c14307af311ec9cb721ab5331e7d7; _uetvid=34e379d046e711ecb049a57a717ec471; _ga=GA1.2.1476560320.1637071917; _ga_KSM221PNDX=GS1.1.1642794667.7.1.1642794755.0; _px3=df7947991ec91fa57d098028da962706c8d3c56a054782a125abaeeb0df8f3e0:uvc067wWrKtvT30QU3vD5gP0xW45rA5tuiBYqK9uCvHQkSqFCV0KpypFkMOmE/7WTJ8191+vJO2Ikaqv1OfgdA==:1000:VB1PBxZ967+NlGVaatV2IZs/jDSH50MjGvJupxyudJNumjd8g2yJIp3sanM3O0gxCjtaOzl//mc+mlBUxtZ8bNuWKMyX/F1x1zB2DIA3vTxkOAAdDnmluaMAMpnMMPHJGfsgJN/G7Bi7PBY0svRkhiy95kZ1GjU2SU2+BvOKlVSRjs5edJImp18xzyxs1X/h1H1oUcb7b8iaXFqZ09tgnw==; _hp2_props.2858077939=%7B%22container_id%22%3A%22GTM-P8M8MVZ%22%2C%22user_context%22%3A%22unknown%22%2C%22user_logged_in%22%3A%22unknown%22%7D; _dpm_id.5831=6bc2dd87-95fa-4cf3-ab0c-f84a6b5372d5.1637071939.26.1642795020.1642681810.72e45abf-c793-4476-9d98-54ab2a0536c0; XSRF-TOKEN=a28f7c5fdbd52b04985332439c9971ab; _sp_id.2a16=aab5df73-0280-4c06-a7d9-fc794ffc6938.1637071917.26.1642795250.1642681807.9a37d1b3-3f8c-4445-aeb5-b4f5a13fa1fe; _hp2_id.2858077939=%7B%22userId%22%3A%222252629139422892%22%2C%22pageviewId%22%3A%222877579548423052%22%2C%22sessionId%22%3A%22280019533429718%22%2C%22identity%22%3A%221467602249194414080%22%2C%22trackerVersion%22%3A%224.0%22%2C%22identityField%22%3Anull%2C%22isIdentified%22%3A1%7D; vps_gql_token=oauth2v2_123f24018fb74d3a46465a921016bc61'
}
for u in urls:
    res = requests.get(u ,headers = headers)
    soup = BeautifulSoup(res.text,'html.parser')
    items = soup.find_all('div',class_='visitor-page-container')
#    print(items)
#    print(soup)
#    liste_names = []
    for i in items:  
        Nom = i.find('h1',class_ = 'd-inline vertical-align-middle m-0').text
#        Titre = i.find('h2',class_ = 'mb-0 font-weight-black').text
#        Description = i.find('div',class_= 'up-line-clamp-wrapper col').text
        nationalité = i.find('div',class_ = 'd-block d-md-inline-block location').text
        Horaire_Total = i.find('div',class_ = 'cfe-ui-profile-summary-stats').text
#        Taux_horaire = i.find('h3',class_ = 'my-20').text    
        #job_success = i.find('div',class_ = 'cfe-ui-profile-job-success').text
        total_jobs_hours = i.find('div',class_ = 'd-flex').text
        salary = i.find('h3',class_='my-20').text
        hours_per_week = i.find('div',class_='mt-20').text
        time.sleep(1)
#        print(Nom,Titre,Description,nationalité,Horaire_Total,Taux_horaire,job_success,total_jobs_hours,salary,hours_per_week)
#        print('Nom:',Nom, 'Titre:',Titre,'Description',Description,
#                 'nationalité', nationalité,'Horaire_Total', Horaire_Total,
#                 'Taux_horaire', Taux_horaire,'job_success', job_success,
#                 'total_jobs_hours', total_jobs_hours, 'salary', salary, 'hours_per_week', hours_per_week) #affichage pour vérification
        df = df.append({'Nom': Nom,
                 'nationalité': nationalité,'Horaire_Total': Horaire_Total,
                
                 'total_jobs_hours': total_jobs_hours, 'salary': salary, 'hours_per_week': hours_per_week},ignore_index = True)

In [24]:
df

,Nom,nationalité,Horaire_Total,total_jobs_hours,salary,hours_per_week
0,Igor Z.,"Kyiv, Ukraine","498 Total Jobs30,740 Total Hours",93% Job Success The percentage of this...,$33.00/hr,"Jan 20, 2022"
1,Shabbir H.,"Indore, India","1,137 Total Jobs1,521 Total Hours",92% Job Success The percentage of this...,$35.00/hr,"Rating is 4 out of 5. 4.00 Oct 3,..."
2,Alejandro A.,"Buenos Aires, Argentina",313 Total Jobs414 Total Hours,99% Job Success The percentage of this...,$50.00/hr,"Sep 16, 2021 - Nov 1, 2021"
3,Shina R.,"Jalalabad, India",166 Total Jobs147 Total Hours,95% Job Success The percentage of this...,$15.00/hr,Rating is 5 out of 5. 5.00 Jan 23...
4,Amer Z.,"Irbid, Jordan",14 Total Jobs4 Total Hours,91% Job Success The percentage of this...,$45.00/hr,Rating is 5 out of 5. 5.00 Aug 18...
...,...,...,...,...,...,...
366,\n Dayeon L.\n,"Pyeongtaek, South Korea","118 Total Jobs1,913 Total Hours",98% Job Success \n The percentage of th...,$50.00/hr\n,Rating is 4.85 out of 5. \n 4.85\n \n ...
367,\n Amit C.\n,"Jalgaon, India",26 Total Jobs7 Total Hours,89% Job Success \n The percentage of th...,$8.00/hr\n,Rating is 4.7 out of 5. \n 4.70\n \n ...
368,\n James S.\n,"Pottstown, United States",9 Total Jobs3 Total Hours,100% Job Success \n The percentage of t...,$60.00/hr\n,Rating is 5 out of 5. \n 5.00\n \n ...
369,\n Ian D.\n,"Herford, Germany",172 Total Jobs926 Total Hours,98% Job Success \n The percentage of th...,$62.50/hr\n,Rating is 5 out of 5. \n 5.00\n \n ...
370,\n Alexsandra K.\n,"Kyiv, Ukraine",6 Total Jobs,100% Job Success \n The percentage of t...,$25.00/hr\n,"\n Oct 21, 2021\n \n -\n Oct..."

## Supression des signe \n des données

In [25]:
for c in [column for column in df]:
    df[c] = df[c].apply(lambda x:x.replace('\n', '').replace('\r', ''))

In [26]:
df

,Nom,nationalité,Horaire_Total,total_jobs_hours,salary,hours_per_week
0,Igor Z.,"Kyiv, Ukraine","498 Total Jobs30,740 Total Hours",93% Job Success The percentage of this...,$33.00/hr,"Jan 20, 2022"
1,Shabbir H.,"Indore, India","1,137 Total Jobs1,521 Total Hours",92% Job Success The percentage of this...,$35.00/hr,"Rating is 4 out of 5. 4.00 Oct 3,..."
2,Alejandro A.,"Buenos Aires, Argentina",313 Total Jobs414 Total Hours,99% Job Success The percentage of this...,$50.00/hr,"Sep 16, 2021 - Nov 1, 2021"
3,Shina R.,"Jalalabad, India",166 Total Jobs147 Total Hours,95% Job Success The percentage of this...,$15.00/hr,Rating is 5 out of 5. 5.00 Jan 23...
4,Amer Z.,"Irbid, Jordan",14 Total Jobs4 Total Hours,91% Job Success The percentage of this...,$45.00/hr,Rating is 5 out of 5. 5.00 Aug 18...
...,...,...,...,...,...,...
366,Dayeon L.,"Pyeongtaek, South Korea","118 Total Jobs1,913 Total Hours",98% Job Success The percentage of this...,$50.00/hr,Rating is 4.85 out of 5. 4.85 Oct...
367,Amit C.,"Jalgaon, India",26 Total Jobs7 Total Hours,89% Job Success The percentage of this...,$8.00/hr,Rating is 4.7 out of 5. 4.70 May ...
368,James S.,"Pottstown, United States",9 Total Jobs3 Total Hours,100% Job Success The percentage of thi...,$60.00/hr,"Rating is 5 out of 5. 5.00 Dec 6,..."
369,Ian D.,"Herford, Germany",172 Total Jobs926 Total Hours,98% Job Success The percentage of this...,$62.50/hr,Rating is 5 out of 5. 5.00 Dec 17...
370,Alexsandra K.,"Kyiv, Ukraine",6 Total Jobs,100% Job Success The percentage of thi...,$25.00/hr,"Oct 21, 2021 - Oct 26, 2021"

## Mettre les données dans un fichier excel et le télécharger

In [ ]:
with pd.ExcelWriter('NON angences2 (-1).xlsx') as writer : 
    df.to_excel(writer,sheet_name='sheet1')